@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>This is going to be an amazing web app</p>
<p>Please come back when I figure out what it's gonna do</p>